:root {
  --color-long: rgb(20, 155, 20);
  --color-short: rgb(231, 58, 58);
  --color-neutral: rgb(228, 228, 20);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: inherit;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  --color-text: #000;
  --color-bg: #fff;
  --color-cell-bg: #ccc;
  --color-overlay: rgba(0, 0, 0, 0.8);
  color: var(--color-text);
  background-color: var(--color-bg);
}

.dark {
  --color-text: #fff;
  --color-bg: #000;
  --color-cell-bg: #3b3636;
  --color-overlay: rgba(255, 255, 255, 0.8);
}

img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  border: none;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

/* Loader */
@keyframes l21 {
  100% {
    background-position: left;
  }
}
/*  */
